# 1. EDA on hokkaido_weather_data.csv
--------------
### hokkaido_weather_data.csv considering all year Metadate
There is no missing value

| # | Column Name          | Data Type  | Description                       | Variable type| Min Value         | Max Value         |
|---|----------------------|------------|-----------------------------------|-------|-------------------|-------------------|
| 0 | `date`               | `int64`    | Date (numeric format, YYYYMMDD)   |Numerical| `20140101`      | `20231231`        |
| 1 | `T2M`                | `float64`  | Temperature at 2 meters (°C)      |Numerical| `-20.17`        | `28.87`           |
| 2 | `RH2M`               | `float64`  | Relative Humidity at 2 meters (%) |Numerical| `47.47`         | `100.00`          |
| 3 | `ALLSKY_SFC_SW_DWN`  | `float64`  | Surface solar radiation (W/m²)    |Numerical| `0.51`          | `31.46`           |
| 4 | `year`               | `int64`    | Year                              |Numerical| `2014`          | `2023`            |
| 5 | `month`              | `int64`    | Month                             |Numerical| `1` (Jan)       | `12` (Dec)        |
| 6 | `day`                | `int64`    | Day                               |Numerical|    |      |
| 7 | `市町村名`             | `object`   | Municipality name (in Japanese)  |Categorical|      |     |
| 8 | `市町村コード`          | `int64`    | Municipality code               |Categorical|       |    |
| 9 | `緯度`                | `float64`  | Latitude                         |Numerical       |    |
|10 | `経度`                | `float64`  | Longitude                        |Numerical|       |    |

### hokkaido_weather_data.csv considering **only** months [5, 10] relate to harvest period Metadate

| # | Column Name          | Data Type  | Description                              | Variable type| Min Value       | Max Value       |
|---|----------------------|------------|------------------------------------------|-------|----------|-----------------|
| 0 | `date`               | `int64`    | Date (numeric format, YYYYMMDD)          |Numerical| `20140501`      | `20231031`      |
| 1 | `T2M`                | `float64`  | Temperature at 2 meters (°C)             |Numerical| `-2.75`         | `28.87`         |
| 2 | `RH2M`               | `float64`  | Relative Humidity at 2 meters (%)         |Numerical| `48.27`         | `99.33`         |
| 3 | `ALLSKY_SFC_SW_DWN`  | `float64`  | Surface solar radiation (W/m²)           |Numerical| `0.97`          | `31.46`         |
| 4 | `year`               | `int64`    | Year                                     |Numerical| `2014`          | `2023`          |
| 5 | `month`              | `int64`    | Month (May=5 to Oct=10)                  |Numerical| `5` (May)       | `10` (Oct)      |
| 6 | `day`                | `int64`    | Day                                      |Numerical|        |      |
| 7 | `市町村名`             | `object`   | Municipality name (in Japanese)          |Categorical|       |      |
| 8 | `市町村コード`          | `int64`    | Municipality code                       |Categorical |       |    |
| 9 | `緯度`                | `float64`  | Latitude                                 |Numerical|  |    |
|10 | `経度`                | `float64`  | Longitude                                |Numerical|    |  |

In [1]:
#Check missing values and information for Metadata
# Import
import pandas as pd
import numpy as np

# Read daily weather data
weather_data = pd.read_csv("../datasets/hokkaido_weather_data.csv").copy()

#EDA_1
weather_data.info()
weather_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398068 entries, 0 to 398067
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   date               398068 non-null  int64
 1   T2M                398068 non-null  float64
 2   RH2M               398068 non-null  float64
 3   ALLSKY_SFC_SW_DWN  398068 non-null  float64
 4   year               398068 non-null  int64
 5   month              398068 non-null  int64
 6   day                398068 non-null  int64
 7   市町村名               398068 non-null  object
 8   市町村コード             398068 non-null  int64
 9   緯度                 398068 non-null  float64
 10  経度                 398068 non-null  float64
dtypes: float64(5), int64(5), object(1)
memory usage: 33.4+ MB

,date,T2M,RH2M,ALLSKY_SFC_SW_DWN,year,month,day,市町村コード,緯度,経度
count,3.980680e+05,398068.000000,398068.000000,398068.000000,398068.000000,398068.000000,398068.000000,398068.000000,398068.000000,398068.000000
mean,2.018567e+07,7.090227,85.705834,12.087536,2018.499726,6.523549,15.727820,395.027523,43.137777,141.646781
std,2.872115e+04,9.997569,7.575428,7.293640,2.871904,3.448537,8.799335,126.582363,0.727802,0.960828
min,2.014010e+07,-20.170000,47.470000,0.510000,2014.000000,1.000000,1.000000,100.000000,41.483942,139.512172
25%,2.016070e+07,-1.450000,80.980000,5.680000,2016.000000,4.000000,8.000000,303.000000,42.584939,140.794788
50%,2.018567e+07,7.440000,86.490000,10.760000,2018.500000,7.000000,16.000000,408.000000,43.164178,141.784299
75%,2.021070e+07,15.850000,91.460000,17.560000,2021.000000,10.000000,23.000000,465.000000,43.723430,142.354421
max,2.023123e+07,28.870000,100.000000,31.460000,2023.000000,12.000000,31.000000,635.000000,44.722419,144.172737

In [2]:
#Selecting only months during the harvest period
filtered_weather_data = weather_data[(weather_data['month'] >= 5) & (weather_data['month'] <= 10)]

#EDA_1
filtered_weather_data.info()
filtered_weather_data.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200560 entries, 120 to 398006
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   date               200560 non-null  int64
 1   T2M                200560 non-null  float64
 2   RH2M               200560 non-null  float64
 3   ALLSKY_SFC_SW_DWN  200560 non-null  float64
 4   year               200560 non-null  int64
 5   month              200560 non-null  int64
 6   day                200560 non-null  int64
 7   市町村名               200560 non-null  object
 8   市町村コード             200560 non-null  int64
 9   緯度                 200560 non-null  float64
 10  経度                 200560 non-null  float64
dtypes: float64(5), int64(5), object(1)
memory usage: 18.4+ MB

,date,T2M,RH2M,ALLSKY_SFC_SW_DWN,year,month,day,市町村コード,緯度,経度
count,2.005600e+05,200560.000000,200560.000000,200560.000000,200560.000000,200560.00000,200560.000000,200560.000000,200560.000000,200560.000000
mean,2.018577e+07,15.435572,83.670773,15.603599,2018.500000,7.50000,15.836957,395.027523,43.137777,141.646781
std,2.872340e+04,5.116175,6.975885,6.811845,2.872288,1.70995,8.854249,126.582519,0.727802,0.960830
min,2.014050e+07,-2.750000,48.270000,0.970000,2014.000000,5.00000,1.000000,100.000000,41.483942,139.512172
25%,2.016078e+07,11.830000,79.550000,10.260000,2016.000000,6.00000,8.000000,303.000000,42.584939,140.794788
50%,2.018577e+07,15.790000,84.510000,15.200000,2018.500000,7.50000,16.000000,408.000000,43.164178,141.784299
75%,2.021075e+07,19.330000,88.750000,20.760000,2021.000000,9.00000,23.250000,465.000000,43.723430,142.354421
max,2.023103e+07,28.870000,99.330000,31.460000,2023.000000,10.00000,31.000000,635.000000,44.722419,144.172737

# 2. Outliers detection on weather_data & filtered_weather_data

In [3]:
def detect_global_outliers(df, column, method="iqr", threshold=1.5, z_threshold=3):
    """
    Detect outliers considering cities as one.
    
    Parameters:
        method: "iqr" (interquartile interval) or "zscore" (std).
        threshold: IQR (default: 1.5).
        z_threshold: Z-Score (default: 3).
    """
    data = df[column].copy()
    
    if method == "iqr":
        Q1 = data.quantile(0.25)
        Q3 = data.quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - threshold * IQR
        upper = Q3 + threshold * IQR
        outliers = df[(data < lower) | (data > upper)]
        
    elif method == "zscore":
        z_scores = np.abs(stats.zscore(data.dropna()))
        outliers = df[z_scores > z_threshold]
    
    return outliers

In [4]:
# List of variables to analyze
print("Outliers for weather_data")
variables = ['T2M', 'RH2M', 'ALLSKY_SFC_SW_DWN']

# Dictionary to store results
outliers_global = {}

print("For IQR threshold = 1.5")
for var in variables:
    outliers = detect_global_outliers(filtered_weather_data, var, method="iqr")
    outliers_global[var] = outliers
    print(f"Outliers in {var}: {len(outliers)} ({(len(outliers)/len(filtered_weather_data))*100:.2f}%)")
    
print()

print("For IQR threshold = 2")
for var in variables:
    outliers = detect_global_outliers(filtered_weather_data, var, threshold=2.0,  method="iqr")
    outliers_global[var] = outliers
    print(f"Outliers in {var}: {len(outliers)} ({(len(outliers)/len(filtered_weather_data))*100:.2f}%)")

print()

print("For IQR threshold = 3")
for var in variables:
    outliers = detect_global_outliers(filtered_weather_data, var, threshold=3.0, method="iqr")
    outliers_global[var] = outliers
    print(f"Outliers in {var}: {len(outliers)} ({(len(outliers)/len(filtered_weather_data))*100:.2f}%)")

Outliers for weather_data
For IQR threshold = 1.5
Outliers in T2M: 304 (0.15%)
Outliers in RH2M: 2983 (1.49%)
Outliers in ALLSKY_SFC_SW_DWN: 0 (0.00%)

For IQR threshold = 2
Outliers in T2M: 0 (0.00%)
Outliers in RH2M: 851 (0.42%)
Outliers in ALLSKY_SFC_SW_DWN: 0 (0.00%)

For IQR threshold = 3
Outliers in T2M: 0 (0.00%)
Outliers in RH2M: 58 (0.03%)
Outliers in ALLSKY_SFC_SW_DWN: 0 (0.00%)

# 🌾 3. Rice Growing Stages of Interest

- **Vegetative Stage** *(May, June)*  
- **Reproductive Stage** *(July, August)*  
- **Maturation Stage** *(September, October)*

> The **Vegetative** and **Reproductive** stages are the most relevant to the climate data available in this project. In contrast, the **Maturation** stage is less influenced by climate variations, at least based on the indicators we have. Therefore, the focus of this study is on the Vegetative and Reproductive stages.
The recommended month ranges for each growth stage are drawn from the NDVI curves in Notebook 04, supporting literature, and the fact that rice cultivation in northern regions (e.g. Hokkaido) begins in May–June.

Sources: <br>
https://www.researchgate.net/figure/Rice-plant-cycle-with-phase-and-froth-stages-the-curve-represents-the-temporal-profile_fig1_339052399 <br>
https://www.researchgate.net/figure/ariations-in-NDVI-throughout-the-rice-growth-period-including_fig3_335834017 <br>
https://www.researchgate.net/figure/Change-of-NDVI-values-with-time-for-the-30-farms-in-the-study-area_fig3_279030394 <br>
https://en.wikipedia.org/wiki/Rice_production_in_Japan <br>

# 4. Feature Generation for Vegetative & Reproductive Stages

# Temperature (T2M) Features

- **Days with T2M in the ideal range during vegetative stage**  
  `[T2M_days_ideal_veg]`

- **Days with T2M in the ideal range during reproductive stage**  
  `[T2M_days_ideal_rep]`

- **Days with T2M below the lower threshold during vegetative stage**  
  `[T2M_days_low_veg]`

- **Days with T2M below the lower threshold during reproductive stage**  
  `[T2M_days_low_rep]`

- **Days with extremely low T2M during vegetative stage**  
  `[T2M_days_extremely_low_veg]`

- **Days with extremely low T2M during reproductive stage**  
  `[T2M_days_extremely_low_rep]`

> High temperatures have very low frequency in both stages, so they are unlikely to contribute meaningful patterns for modeling.  
> However, **extremely low temperatures** can significantly impact growth and should be considered as important stress indicators.

In [42]:
# --- 1) Parameters and mappings ---
# Months for each growth stage
vegetative_months = [5, 6]   # May, June
reproductive_months = [7, 8] # July, August

# Temperature thresholds (in °C)
# Vegetative stage
veg_low_thresh = 18
veg_extremely_low_thresh = 14
veg_ideal_min = 18
veg_ideal_max = 30

# Reproductive stage
rep_low_thresh = 22
rep_extremely_low_thresh = 18
rep_ideal_min = 22
rep_ideal_max = 30


# --- 2) Add boolean indicator columns ---
df = filtered_weather_data.copy()  # Your DataFrame must contain 'month', 'T2M', '市町村名', and 'year'

# Vegetative stage
df['is_ideal_vegetative'] = (
    df['month'].isin(vegetative_months) &
    df['T2M'].between(veg_ideal_min, veg_ideal_max)
)
df['is_low_vegetative'] = (
    df['month'].isin(vegetative_months) &
    (df['T2M'] < veg_low_thresh) & 
    (df['T2M'] >= veg_extremely_low_thresh)
)
df['is_extremely_low_vegetative'] = (
    df['month'].isin(vegetative_months) &
    (df['T2M'] < veg_extremely_low_thresh)
)

# Reproductive stage
df['is_ideal_reproductive'] = (
    df['month'].isin(reproductive_months) &
    df['T2M'].between(rep_ideal_min, rep_ideal_max)
)
df['is_low_reproductive'] = (
    df['month'].isin(reproductive_months) &
    (df['T2M'] < rep_low_thresh) & 
    (df['T2M'] >= rep_extremely_low_thresh)
)
df['is_extremely_low_reproductive'] = (
    df['month'].isin(reproductive_months) &
    (df['T2M'] < rep_extremely_low_thresh)
)


# --- 3) Aggregate counts by city and year ---
t2m_features = (
    df
    .groupby(['市町村名', 'year'])
    .agg({
        'is_ideal_vegetative'          : 'sum',
        'is_low_vegetative'            : 'sum',
        'is_extremely_low_vegetative'  : 'sum',
        'is_ideal_reproductive'        : 'sum',
        'is_low_reproductive'          : 'sum',
        'is_extremely_low_reproductive': 'sum',
    })
    .rename(columns={
        'is_ideal_vegetative'          : 'T2M_days_ideal_vegetative',
        'is_low_vegetative'            : 'T2M_days_low_vegetative',
        'is_extremely_low_vegetative'  : 'T2M_days_extremely_low_vegetative',
        'is_ideal_reproductive'        : 'T2M_days_ideal_reproductive',
        'is_low_reproductive'          : 'T2M_days_low_reproductive',
        'is_extremely_low_reproductive': 'T2M_days_extremely_low_reproductive',
    })
    .reset_index()
)

# --- 4) Monthly mean temperature from May (5) to August (8) ---
monthly_means = (
    df[df['month'].between(5, 8)]
    .groupby(['市町村名', 'year', 'month'])['T2M']
    .mean()
    .unstack(fill_value=np.nan)  # columns become months
    .rename(columns={
        5: 'T2M_5',
        6: 'T2M_6',
        7: 'T2M_7',
        8: 'T2M_8'
    })
    .reset_index()
)

# --- 5) Merge everything ---
t2m_features = t2m_features.merge(monthly_means, on=['市町村名', 'year'], how='left')

t2m_features.columns

Index(['市町村名', 'year', 'T2M_days_ideal_vegetative', 'T2M_days_low_vegetative',
       'T2M_days_extremely_low_vegetative', 'T2M_days_ideal_reproductive',
       'T2M_days_low_reproductive', 'T2M_days_extremely_low_reproductive',
       'T2M_5', 'T2M_6', 'T2M_7', 'T2M_8'],
      dtype='object')

In [43]:
t2m_features.describe()

,year,T2M_days_ideal_vegetative,T2M_days_low_vegetative,T2M_days_extremely_low_vegetative,T2M_days_ideal_reproductive,T2M_days_low_reproductive,T2M_days_extremely_low_reproductive,T2M_5,T2M_6,T2M_7,T2M_8
count,1090.0000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000
mean,2018.5000,3.753211,20.841284,36.405505,15.629358,33.074312,13.296330,10.787983,14.883883,19.757827,20.481186
std,2.8736,3.221059,5.723306,6.352716,9.545323,8.674132,7.940047,0.833972,1.216041,1.148895,1.634095
min,2014.0000,0.000000,2.000000,16.000000,0.000000,10.000000,0.000000,8.094839,11.615000,15.972581,16.647742
25%,2016.0000,1.000000,17.000000,32.000000,8.000000,26.000000,7.000000,10.239355,13.968750,18.892258,19.367742
50%,2018.5000,3.000000,20.000000,37.000000,13.000000,33.000000,13.000000,10.791613,14.814500,19.639677,20.289677
75%,2021.0000,6.000000,24.000000,40.000000,21.000000,40.000000,19.000000,11.323548,15.981333,20.649435,21.437419
max,2023.0000,14.000000,44.000000,59.000000,46.000000,51.000000,39.000000,13.346129,17.890667,22.894516,26.262581

# Humidity (RH2M) Features

- **Days with RH2M in the ideal range during vegetative stage**  
  `[RH2M_days_ideal_veg]`

- **Days with RH2M in the ideal range during reproductive stage**  
  `[RH2M_days_ideal_rep]`

- **Days with RH2M between 80% and 90% during vegetative stage (high humidity)**  
  `[RH2M_days_high_veg]`

- **Days with RH2M between 80% and 90% during reproductive stage (high humidity)**  
  `[RH2M_days_high_rep]`

- **Days with RH2M above 90% during vegetative stage (very high humidity)**  
  `[RH2M_days_very_high_veg]`

- **Days with RH2M above 90% during reproductive stage (very high humidity)**  
  `[RH2M_days_very_high_rep]`

In [44]:
# --- 1) Parameters ---
# Growth stage months
vegetative_months = [5, 6]
reproductive_months = [7, 8]

# RH2M thresholds (%)
rh2m_low_thresh = 60
rh2m_high_thresh = 80
rh2m_very_high_thresh = 90  # Extreme humidity

# --- 2) Add boolean indicator columns ---
df = filtered_weather_data.copy()

# Vegetative stage
df['is_rh2m_ideal_veg'] = (
    df['month'].isin(vegetative_months) &
    df['RH2M'].between(rh2m_low_thresh, rh2m_high_thresh)
)
df['is_rh2m_high_veg'] = (
    df['month'].isin(vegetative_months) &
    df['RH2M'].gt(rh2m_high_thresh) & df['RH2M'].le(rh2m_very_high_thresh)
)
df['is_rh2m_very_high_veg'] = (
    df['month'].isin(vegetative_months) &
    df['RH2M'].gt(rh2m_very_high_thresh)
)

# Reproductive stage
df['is_rh2m_ideal_rep'] = (
    df['month'].isin(reproductive_months) &
    df['RH2M'].between(rh2m_low_thresh, rh2m_high_thresh)
)
df['is_rh2m_high_rep'] = (
    df['month'].isin(reproductive_months) &
    df['RH2M'].gt(rh2m_high_thresh) & df['RH2M'].le(rh2m_very_high_thresh)
)
df['is_rh2m_very_high_rep'] = (
    df['month'].isin(reproductive_months) &
    df['RH2M'].gt(rh2m_very_high_thresh)
)

# --- 3) Aggregate counts ---
rh2m_features = (
    df
    .groupby(['市町村名', 'year'])
    .agg({
        'is_rh2m_ideal_veg'     : 'sum',
        'is_rh2m_high_veg'      : 'sum',
        'is_rh2m_very_high_veg' : 'sum',
        'is_rh2m_ideal_rep'     : 'sum',
        'is_rh2m_high_rep'      : 'sum',
        'is_rh2m_very_high_rep' : 'sum',
    })
    .rename(columns={
        'is_rh2m_ideal_veg'     : 'RH2M_days_ideal_veg',
        'is_rh2m_high_veg'      : 'RH2M_days_high_veg',
        'is_rh2m_very_high_veg' : 'RH2M_days_very_high_veg',
        'is_rh2m_ideal_rep'     : 'RH2M_days_ideal_rep',
        'is_rh2m_high_rep'      : 'RH2M_days_high_rep',
        'is_rh2m_very_high_rep' : 'RH2M_days_very_high_rep',
    })
    .reset_index()
)

# Final result
display(rh2m_features)

,市町村名,year,RH2M_days_ideal_veg,RH2M_days_high_veg,RH2M_days_very_high_veg,RH2M_days_ideal_rep,RH2M_days_high_rep,RH2M_days_very_high_rep
0,せたな町,2014,16,36,8,15,42,5
1,せたな町,2015,13,38,10,5,43,14
2,せたな町,2016,19,26,16,8,37,17
3,せたな町,2017,6,39,16,7,42,13
4,せたな町,2018,10,39,12,3,34,25
...,...,...,...,...,...,...,...,...
1085,黒松内町,2019,15,40,6,7,44,11
1086,黒松内町,2020,11,37,13,5,41,16
1087,黒松内町,2021,13,40,8,7,45,10
1088,黒松内町,2022,8,39,14,9,33,20
1089,黒松内町,2023,11,38,12,3,43,16

In [45]:
rh2m_features.describe()

,year,RH2M_days_ideal_veg,RH2M_days_high_veg,RH2M_days_very_high_veg,RH2M_days_ideal_rep,RH2M_days_high_rep,RH2M_days_very_high_rep
count,1090.0000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000
mean,2018.5000,18.762385,32.818349,9.149541,9.315596,37.929358,14.677982
std,2.8736,7.125238,5.899062,6.267281,8.355257,7.791566,8.326332
min,2014.0000,0.000000,13.000000,1.000000,0.000000,1.000000,1.000000
25%,2016.0000,14.000000,29.000000,5.000000,3.000000,34.000000,9.000000
50%,2018.5000,19.000000,33.000000,7.000000,7.000000,39.000000,13.000000
75%,2021.0000,23.000000,37.000000,12.000000,12.000000,43.000000,19.000000
max,2023.0000,40.000000,44.000000,44.000000,44.000000,52.000000,61.000000

# **Solar Radiation (ALLSKY_SFC_SW_DWN) features**  
  - Days with ALLSKY in the ideal range during vegetative stage  
    `[ALLSKY_days_ideal_veg]`  
  - Days with ALLSKY in the ideal range during reproductive stage  
    `[ALLSKY_days_ideal_rep]`  
  - Days with ALLSKY below the lower threshold during vegetative stage  
    `[ALLSKY_days_low_veg]`  
  - Days with ALLSKY below the lower threshold during reproductive stage  
    `[ALLSKY_days_low_rep]`
  - ALLSKY mean per month  
_______________________________

In [46]:
# --- 1) Parameters ---
# Months for each growth stage
vegetative_months = [5, 6]
reproductive_months = [7, 8]

# Solar radiation thresholds (example values in MJ/m²/day)
allsky_extremely_low_thresh = 10
allsky_low_thresh = 15
allsky_high_thresh = 25

# --- 2) Add boolean indicator columns ---
df = filtered_weather_data.copy()

# Vegetative stage
df['is_allsky_ideal_veg'] = (
    df['month'].isin(vegetative_months) &
    df['ALLSKY_SFC_SW_DWN'].between(allsky_low_thresh, allsky_high_thresh)
)
df['is_allsky_low_veg'] = (
    df['month'].isin(vegetative_months) &
    (df['ALLSKY_SFC_SW_DWN'] < allsky_low_thresh) &
    (df['ALLSKY_SFC_SW_DWN'] >= allsky_extremely_low_thresh)
)
df['is_allsky_extremely_low_veg'] = (
    df['month'].isin(vegetative_months) &
    (df['ALLSKY_SFC_SW_DWN'] < allsky_extremely_low_thresh)
)
df['is_allsky_high_veg'] = (
    df['month'].isin(vegetative_months) &
    (df['ALLSKY_SFC_SW_DWN'] > allsky_high_thresh)
)

# Reproductive stage
df['is_allsky_ideal_rep'] = (
    df['month'].isin(reproductive_months) &
    df['ALLSKY_SFC_SW_DWN'].between(allsky_low_thresh, allsky_high_thresh)
)
df['is_allsky_low_rep'] = (
    df['month'].isin(reproductive_months) &
    (df['ALLSKY_SFC_SW_DWN'] < allsky_low_thresh) &
    (df['ALLSKY_SFC_SW_DWN'] >= allsky_extremely_low_thresh)
)
df['is_allsky_extremely_low_rep'] = (
    df['month'].isin(reproductive_months) &
    (df['ALLSKY_SFC_SW_DWN'] < allsky_extremely_low_thresh)
)
df['is_allsky_high_rep'] = (
    df['month'].isin(reproductive_months) &
    (df['ALLSKY_SFC_SW_DWN'] > allsky_high_thresh)
)

# --- 2.5) Add mean ALLSKY per month (5, 6, 7, 8) ---
monthly_allsky = (
    df[df['month'].isin([5, 6, 7, 8])]
    .groupby(['市町村名', 'year', 'month'])['ALLSKY_SFC_SW_DWN']
    .mean()
    .unstack(fill_value=0)
    .rename(columns={5: 'ALLSKY_5', 6: 'ALLSKY_6', 7: 'ALLSKY_7', 8: 'ALLSKY_8'})
    .reset_index()
)

# --- 3) Aggregate counts by city and year ---
allsky_features = (
    df
    .groupby(['市町村名', 'year'])
    .agg({
        'is_allsky_ideal_veg': 'sum',
        'is_allsky_low_veg': 'sum',
        'is_allsky_extremely_low_veg': 'sum',
        'is_allsky_high_veg': 'sum',
        'is_allsky_ideal_rep': 'sum',
        'is_allsky_low_rep': 'sum',
        'is_allsky_extremely_low_rep': 'sum',
        'is_allsky_high_rep': 'sum',
    })
    .rename(columns={
        'is_allsky_ideal_veg': 'ALLSKY_days_ideal_veg',
        'is_allsky_low_veg': 'ALLSKY_days_low_veg',
        'is_allsky_extremely_low_veg': 'ALLSKY_days_extremely_low_veg',
        'is_allsky_high_veg': 'ALLSKY_days_high_veg',
        'is_allsky_ideal_rep': 'ALLSKY_days_ideal_rep',
        'is_allsky_low_rep': 'ALLSKY_days_low_rep',
        'is_allsky_extremely_low_rep': 'ALLSKY_days_extremely_low_rep',
        'is_allsky_high_rep': 'ALLSKY_days_high_rep',
    })
    .reset_index()
)

# --- 4) Merge monthly means into final dataset ---
allsky_features = allsky_features.merge(monthly_allsky, on=['市町村名', 'year'], how='left')

# Show the resulting DataFrame
display(allsky_features)

,市町村名,year,ALLSKY_days_ideal_veg,ALLSKY_days_low_veg,ALLSKY_days_extremely_low_veg,ALLSKY_days_high_veg,ALLSKY_days_ideal_rep,ALLSKY_days_low_rep,ALLSKY_days_extremely_low_rep,ALLSKY_days_high_rep,ALLSKY_5,ALLSKY_6,ALLSKY_7,ALLSKY_8
0,せたな町,2014,25,13,10,13,35,14,9,4,16.717742,19.253333,17.939355,16.390000
1,せたな町,2015,25,10,10,16,34,11,13,4,19.956452,16.832333,15.816129,16.814516
2,せたな町,2016,20,15,12,14,34,13,9,6,19.805484,16.028000,16.200000,18.016129
3,せたな町,2017,23,15,10,13,33,13,12,4,18.891613,16.412000,15.312258,17.534516
4,せたな町,2018,25,7,17,12,25,13,18,6,17.835484,16.597333,15.734516,15.172903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,黒松内町,2019,24,6,8,23,30,15,13,4,22.592258,18.893667,15.392903,15.753548
1086,黒松内町,2020,27,8,13,13,30,14,13,5,18.296774,17.713000,18.049355,14.857097
1087,黒松内町,2021,21,11,9,20,31,18,6,7,17.335484,21.156333,19.590968,14.983226
1088,黒松内町,2022,30,4,11,16,30,11,14,7,19.281290,18.831333,17.217742,15.040645
1089,黒松内町,2023,30,8,8,15,36,17,8,1,20.606774,17.845000,17.105806,15.800323

In [47]:
allsky_features.describe()

,year,ALLSKY_days_ideal_veg,ALLSKY_days_low_veg,ALLSKY_days_extremely_low_veg,ALLSKY_days_high_veg,ALLSKY_days_ideal_rep,ALLSKY_days_low_rep,ALLSKY_days_extremely_low_rep,ALLSKY_days_high_rep,ALLSKY_5,ALLSKY_6,ALLSKY_7,ALLSKY_8
count,1090.0000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000
mean,2018.5000,25.033028,11.561468,9.507339,14.898165,32.301835,13.229358,11.312844,5.155963,18.911971,18.004121,17.711838,15.522670
std,2.8736,4.168711,3.406684,2.850812,3.801514,5.238455,4.238598,3.376351,2.862872,1.541909,1.752711,1.558435,1.110323
min,2014.0000,17.000000,4.000000,3.000000,7.000000,22.000000,5.000000,4.000000,0.000000,14.870645,14.966000,14.441613,12.978387
25%,2016.0000,22.000000,9.000000,8.000000,12.000000,29.000000,10.000000,9.000000,3.000000,17.953871,16.470000,16.773226,14.781935
50%,2018.5000,25.000000,11.000000,9.000000,15.000000,32.000000,13.000000,11.000000,5.000000,18.867097,17.845000,17.482581,15.366774
75%,2021.0000,28.000000,13.000000,12.000000,16.750000,37.000000,16.000000,13.750000,7.000000,19.905484,19.024333,18.722581,16.345484
max,2023.0000,35.000000,21.000000,17.000000,25.000000,43.000000,26.000000,19.000000,14.000000,22.655806,22.936667,22.697419,18.016129

# **Combined Ideal Conditions**  
  - Days when all three variables are simultaneously ideal during vegetative stage  
    `[ideal_combo_days_veg]`  
  - Days when all three variables are simultaneously ideal during reproductive stage  
    `[ideal_combo_days_rep]`

In [48]:
# --- 1) Define stage months ---
vegetative_months = [5, 6]
reproductive_months = [7, 8]

# --- 2) Define ideal thresholds ---
# Temperature
t2m_ideal_veg_min = 18
t2m_ideal_veg_max = 30
t2m_ideal_rep_min = 22
t2m_ideal_rep_max = 30

# Humidity
rh2m_ideal_min = 60
rh2m_ideal_max = 80

# Solar Radiation (MJ/m²/day)
allsky_ideal_min = 15
allsky_ideal_max = 25

# --- 3) Define boolean columns for ideal combinations ---

# Vegetative stage
df['is_ideal_combo_veg'] = (
    df['month'].isin(vegetative_months) &
    df['T2M'].between(t2m_ideal_veg_min, t2m_ideal_veg_max) &
    df['RH2M'].between(rh2m_ideal_min, rh2m_ideal_max) &
    df['ALLSKY_SFC_SW_DWN'].between(allsky_ideal_min, allsky_ideal_max)
)

# Reproductive stage
df['is_ideal_combo_rep'] = (
    df['month'].isin(reproductive_months) &
    df['T2M'].between(t2m_ideal_rep_min, t2m_ideal_rep_max) &
    df['RH2M'].between(rh2m_ideal_min, rh2m_ideal_max) &
    df['ALLSKY_SFC_SW_DWN'].between(allsky_ideal_min, allsky_ideal_max)
)

# --- 4) Aggregate by city and year ---
ideal_combo_features = (
    df
    .groupby(['市町村名', 'year'])
    .agg({
        'is_ideal_combo_veg': 'sum',
        'is_ideal_combo_rep': 'sum',
    })
    .rename(columns={
        'is_ideal_combo_veg': 'ideal_combo_days_veg',
        'is_ideal_combo_rep': 'ideal_combo_days_rep',
    })
    .reset_index()
)

# Display result
display(ideal_combo_features)

      市町村名  year  ideal_combo_days_veg  ideal_combo_days_rep
0     せたな町  2014                     0                     6
1     せたな町  2015                     0                     0
2     せたな町  2016                     0                     4
3     せたな町  2017                     0                     0
4     せたな町  2018                     0                     0
...    ...   ...                   ...                   ...
1085  黒松内町  2019                     0                     2
1086  黒松内町  2020                     0                     1
1087  黒松内町  2021                     0                     2
1088  黒松内町  2022                     0                     2
1089  黒松内町  2023                     0                     1

[1090 rows x 4 columns]

In [49]:
ideal_combo_features.describe()

            year  ideal_combo_days_veg  ideal_combo_days_rep
count  1090.0000           1090.000000           1090.000000
mean   2018.5000              0.472477              1.995413
std       2.8736              0.837414              3.169381
min    2014.0000              0.000000              0.000000
25%    2016.0000              0.000000              0.000000
50%    2018.5000              0.000000              1.000000
75%    2021.0000              1.000000              3.000000
max    2023.0000              6.000000             19.000000

# **Combined Stress Conditions**
    - Days when any major stress combination occurs (high T2M + low RH2M + low ALLSKY) during vegetative stage  
    `[stress_combo_days_veg]`  
    - Days when any major stress combination occurs during reproductive stage  
    `[stress_combo_days_rep]`

In [50]:
# --- 1) Parameters ---
vegetative_months = [5, 6]
reproductive_months = [7, 8]

extreme_low_t2m_thresh_veg = 14
extreme_low_t2m_thresh_rep = 18
extreme_high_rh2m_thresh = 90
extreme_low_allsky_thresh = 10

# --- 2) Add stress condition columns ---
df = filtered_weather_data.copy()

# Vegetative stage triple stress
df['is_stress_combo_veg'] = (
    df['month'].isin(vegetative_months) &
    (df['T2M'] < extreme_low_t2m_thresh_veg) &
    (df['RH2M'] > extreme_high_rh2m_thresh) &
    (df['ALLSKY_SFC_SW_DWN'] < extreme_low_allsky_thresh)
)

# Reproductive stage triple stress
df['is_stress_combo_rep'] = (
    df['month'].isin(reproductive_months) &
    (df['T2M'] < extreme_low_t2m_thresh_rep) &
    (df['RH2M'] > extreme_high_rh2m_thresh) &
    (df['ALLSKY_SFC_SW_DWN'] < extreme_low_allsky_thresh)
)

# --- 3) Aggregate counts ---
stress_combo_features = (
    df
    .groupby(['市町村名', 'year'])
    .agg({
        'is_stress_combo_veg': 'sum',
        'is_stress_combo_rep': 'sum'
    })
    .rename(columns={
        'is_stress_combo_veg': 'stress_combo_days_veg',
        'is_stress_combo_rep': 'stress_combo_days_rep'
    })
    .reset_index()
)

display(stress_combo_features)

      市町村名  year  stress_combo_days_veg  stress_combo_days_rep
0     せたな町  2014                      3                      0
1     せたな町  2015                      3                      0
2     せたな町  2016                      3                      1
3     せたな町  2017                      7                      1
4     せたな町  2018                      4                      2
...    ...   ...                    ...                    ...
1085  黒松内町  2019                      2                      1
1086  黒松内町  2020                      3                      0
1087  黒松内町  2021                      4                      0
1088  黒松内町  2022                      4                      0
1089  黒松内町  2023                      2                      0

[1090 rows x 4 columns]

In [51]:
stress_combo_features.describe()

            year  stress_combo_days_veg  stress_combo_days_rep
count  1090.0000            1090.000000            1090.000000
mean   2018.5000               2.957798               1.939450
std       2.8736               2.272941               1.949313
min    2014.0000               0.000000               0.000000
25%    2016.0000               1.000000               0.000000
50%    2018.5000               2.000000               1.000000
75%    2021.0000               4.000000               3.000000
max    2023.0000              15.000000              11.000000

# Acumulation Features
- Features that represents the sum over the reproductive and vegetative periods.
______________

# **Growing Degree Days (GDD)**
GDD (Growing Degree Days) is a weather-based indicator used to estimate how much heat is available for plants or insects to grow on a given day.

Simple Explanation: <br>
Every plant or insect species needs a certain amount of warmth to develop.<br>
GDD measures the heat units they receive daily.<br>

It’s calculated using the daily average temperature, compared to a base temperature (usually the minimum needed for growth, like 10°C for many crops).
  - Cumulative GDD over the vegetative stage (base 10°C for rice)  
    `[GDD_sum_veg]`  
  - Cumulative GDD over the reproductive stage (base 10°C for rice)  
    `[GDD_sum_rep]` 
________________________

In [52]:
# --- 1) Parameters ---
vegetative_months = [5, 6]   # May and June
reproductive_months = [7, 8] # July and August
gdd_base_temp = 10           # Base temperature for rice (°C)

# --- 2) Copy original DataFrame ---
df = filtered_weather_data.copy()

# --- 3) Calculate daily GDD ---
df['GDD'] = (df['T2M'] - gdd_base_temp).clip(lower=0)

# --- 4) Stage-specific GDD allocation ---
df['GDD_veg'] = df.apply(lambda row: row['GDD'] if row['month'] in vegetative_months else 0, axis=1)
df['GDD_rep'] = df.apply(lambda row: row['GDD'] if row['month'] in reproductive_months else 0, axis=1)

# --- 5) Aggregate GDD by municipality and year ---
gdd_features = (
    df
    .groupby(['市町村名', 'year'])
    .agg({
        'GDD_veg': 'sum',
        'GDD_rep': 'sum'
    })
    .rename(columns={
        'GDD_veg': 'GDD_sum_veg',
        'GDD_rep': 'GDD_sum_rep'
    })
    .reset_index()
)

display(gdd_features)

      市町村名  year  GDD_sum_veg  GDD_sum_rep
0     せたな町  2014       238.99       694.18
1     せたな町  2015       185.63       644.19
2     せたな町  2016       211.18       669.48
3     せたな町  2017       173.31       656.01
4     せたな町  2018       179.80       614.21
...    ...   ...          ...          ...
1085  黒松内町  2019       244.20       665.60
1086  黒松内町  2020       224.11       665.27
1087  黒松内町  2021       235.96       724.65
1088  黒松内町  2022       213.82       693.53
1089  黒松内町  2023       266.23       824.75

[1090 rows x 4 columns]

In [53]:
gdd_features.describe()

            year  GDD_sum_veg  GDD_sum_rep
count  1090.0000  1090.000000  1090.000000
mean   2018.5000   201.708330   627.436229
std       2.8736    40.833907    69.652151
min    2014.0000    62.490000   457.710000
25%    2016.0000   171.990000   581.520000
50%    2018.5000   197.705000   614.060000
75%    2021.0000   235.250000   658.052500
max    2023.0000   313.180000   883.010000

# VPD (Vapor Pressure Deficit)
VPD (Vapor Pressure Deficit) is a weather indicator that tells us how "thirsty" the air is — or in other words, how much moisture the air wants to pull from the rice plants through evaporation and transpiration.

🌾 Simple Explanation (for rice farming):<br>
Plants release water into the air through tiny pores (stomata) — this process is called transpiration.<br>
VPD measures the drying power of the air.<br>
Low VPD = humid air, less water loss<br>
High VPD = dry air, more water pulled from the plant (can cause stress)
_______________________

In [54]:
# --- 1) Parameters ---
vegetative_months = [5, 6]   # May and June
reproductive_months = [7, 8] # July and August

# --- 2) Copy original DataFrame ---
df = filtered_weather_data.copy()

# --- 3) Calculate daily VPD ---
# Saturation vapor pressure (es) using Tetens formula
df['es'] = 0.6108 * np.exp((17.27 * df['T2M']) / (df['T2M'] + 237.3))

# Actual vapor pressure (ea)
df['ea'] = df['es'] * (df['RH2M'] / 100)

# VPD in kPa
df['VPD'] = df['es'] - df['ea']

# --- 4) Stage-specific VPD allocation ---
df['VPD_veg'] = df.apply(lambda row: row['VPD'] if row['month'] in vegetative_months else 0, axis=1)
df['VPD_rep'] = df.apply(lambda row: row['VPD'] if row['month'] in reproductive_months else 0, axis=1)

# --- 5) Aggregate VPD by municipality and year ---
vpd_features = (
    df
    .groupby(['市町村名', 'year'])
    .agg({
        'VPD_veg': 'sum',
        'VPD_rep': 'sum'
    })
    .rename(columns={
        'VPD_veg': 'VPD_sum_veg',
        'VPD_rep': 'VPD_sum_rep'
    })
    .reset_index()
)

display(vpd_features)

      市町村名  year  VPD_sum_veg  VPD_sum_rep
0     せたな町  2014    17.311391    25.089829
1     せたな町  2015    14.094791    19.806167
2     せたな町  2016    15.400757    21.021219
3     せたな町  2017    12.463052    21.554208
4     せたな町  2018    13.325365    17.042422
...    ...   ...          ...          ...
1085  黒松内町  2019    16.673938    21.993385
1086  黒松内町  2020    14.014537    20.655200
1087  黒松内町  2021    14.634110    22.866912
1088  黒松内町  2022    13.097426    21.408529
1089  黒松内町  2023    14.830822    21.852470

[1090 rows x 4 columns]

# ALLSKY sum and mean per period
________________________

In [55]:
# --- 1) Parameters ---
vegetative_months = [5, 6]   # May and June
reproductive_months = [7, 8] # July and August

# --- 2) Copy original DataFrame ---
df = filtered_weather_data.copy()

# --- 3) Stage-specific solar radiation allocation ---
df['SWD_veg'] = df.apply(lambda row: row['ALLSKY_SFC_SW_DWN'] if row['month'] in vegetative_months else 0, axis=1)
df['SWD_rep'] = df.apply(lambda row: row['ALLSKY_SFC_SW_DWN'] if row['month'] in reproductive_months else 0, axis=1)

# --- 4) Create mask for filtering only rows in each stage ---
veg_mask = df['month'].isin(vegetative_months)
rep_mask = df['month'].isin(reproductive_months)

# --- 5) Aggregate sum and mean by stage, municipality and year ---
solar_features = (
    df
    .groupby(['市町村名', 'year'])
    .agg({
        'SWD_veg': ['sum', 'mean'],
        'SWD_rep': ['sum', 'mean']
    })
)

# --- 6) Rename columns ---
solar_features.columns = [
    'SWD_sum_veg', 'SWD_mean_veg',
    'SWD_sum_rep', 'SWD_mean_rep'
]

solar_features = solar_features.reset_index()

# --- 7) Display result ---
display(solar_features)

      市町村名  year  SWD_sum_veg  SWD_mean_veg  SWD_sum_rep  SWD_mean_rep
0     せたな町  2014      1095.85      5.955707      1064.21      5.783750
1     せたな町  2015      1123.62      6.106630      1011.55      5.497554
2     せたな町  2016      1094.81      5.950054      1060.70      5.764674
3     せたな町  2017      1078.00      5.858696      1018.25      5.533967
4     せたな町  2018      1050.82      5.710978       958.13      5.207228
...    ...   ...          ...           ...          ...           ...
1085  黒松内町  2019      1267.17      6.886793       965.54      5.247500
1086  黒松内町  2020      1098.59      5.970598      1020.10      5.544022
1087  黒松内町  2021      1172.09      6.370054      1071.80      5.825000
1088  黒松内町  2022      1162.66      6.318804      1000.01      5.434837
1089  黒松内町  2023      1174.16      6.381304      1020.09      5.543967

[1090 rows x 6 columns]

# ET₀ (Reference Evapotranspiration)
ET₀ (Reference Evapotranspiration) is a weather-based indicator that estimates how much water a reference crop (like well-watered grass) would lose to the atmosphere through evaporation and transpiration under current weather conditions.

🌾 Simple Explanation (for rice farming):<br>
ET₀ tells us how much water the weather "wants" to pull from the field — it combines temperature, humidity, radiation, and sometimes wind.<br>
It’s like a weather-driven water demand meter.

High ET₀ = hot, sunny, dry weather → more water needed by rice plants

Low ET₀ = cool, cloudy, humid weather → less water needed<br>
We can use accumulated ET₀ during the growing season to estimate water demand or drought pressure.
________________________

In [56]:
# --- 1) Parameters ---
vegetative_months = [5, 6]
reproductive_months = [7, 8]
k = 0.0023
T_range = 10  # Assumed average temperature range (Tmax - Tmin)

# --- 2) Copy original DataFrame ---
df = filtered_weather_data.copy()

# --- 3) Estimate ET₀ using simplified Hargreaves-Samani ---
df['ET0'] = k * (df['T2M'] + 17.8) * (T_range ** 0.5) * df['ALLSKY_SFC_SW_DWN']

# --- 4) Stage-specific ET₀ allocation ---
df['ET0_veg'] = df.apply(lambda row: row['ET0'] if row['month'] in vegetative_months else 0, axis=1)
df['ET0_rep'] = df.apply(lambda row: row['ET0'] if row['month'] in reproductive_months else 0, axis=1)

# --- 5) Aggregate ET₀ by municipality and year ---
et0_features = (
    df
    .groupby(['市町村名', 'year'])
    .agg({
        'ET0_veg': 'sum',
        'ET0_rep': 'sum'
    })
    .rename(columns={
        'ET0_veg': 'ET0_sum_veg',
        'ET0_rep': 'ET0_sum_rep'
    })
    .reset_index()
)

display(et0_features)

      市町村名  year  ET0_sum_veg  ET0_sum_rep
0     せたな町  2014   255.083861   300.964113
1     せたな町  2015   249.687716   279.011086
2     せたな町  2016   248.617947   297.315874
3     せたな町  2017   237.331629   284.518067
4     せたな町  2018   232.430530   264.220930
...    ...   ...          ...          ...
1085  黒松内町  2019   290.560760   270.923464
1086  黒松内町  2020   250.048952   285.451074
1087  黒松内町  2021   270.113918   310.303820
1088  黒松内町  2022   261.262697   284.267999
1089  黒松内町  2023   270.708547   305.033854

[1090 rows x 4 columns]

# PTI (Photothermal Index)
PTI (Photothermal Index) combines temperature and sunlight to estimate how favorable the environment is for plant development — especially for flowering and grain filling stages.

🌾 Simple Explanation (for rice farming):<br>
PTI = Temperature × Solar Radiation<br>
Rice needs both warmth and sunlight to grow well.<br>
If it’s warm but cloudy, or sunny but cold, development slows.<br>
A high PTI means ideal conditions: warm and sunny → faster and healthier crop development.<br>

High PTI = great conditions for rice growth

Low PTI = limited growth due to either low sunlight or low temperature
____________________________

In [57]:
# --- 1) Parameters ---
vegetative_months = [5, 6]   # May and June
reproductive_months = [7, 8] # July and August
gdd_base_temp = 10           # Base temperature for rice (°C)

# --- 2) Copy original DataFrame ---
df = filtered_weather_data.copy()

# --- 3) Calculate daily GDD ---
df['GDD'] = (df['T2M'] - gdd_base_temp).clip(lower=0)

# --- 4) Calculate daily PTI (Photothermal Index) ---
df['PTI'] = df['GDD'] / df['ALLSKY_SFC_SW_DWN']

# --- 5) Stage-specific PTI allocation ---
df['PTI_veg'] = df.apply(lambda row: row['PTI'] if row['month'] in vegetative_months else 0, axis=1)
df['PTI_rep'] = df.apply(lambda row: row['PTI'] if row['month'] in reproductive_months else 0, axis=1)

# --- 6) Aggregate PTI by municipality and year ---
pti_features = (
    df
    .groupby(['市町村名', 'year'])
    .agg({
        'PTI_veg': 'sum',
        'PTI_rep': 'sum'
    })
    .rename(columns={
        'PTI_veg': 'PTI_sum_veg',
        'PTI_rep': 'PTI_sum_rep'
    })
    .reset_index()
)

display(pti_features)

      市町村名  year  PTI_sum_veg  PTI_sum_rep
0     せたな町  2014    13.819255    51.151541
1     せたな町  2015    13.614391    47.936968
2     せたな町  2016    15.457048    50.309466
3     せたな町  2017    12.325907    47.266398
4     せたな町  2018    14.633320    49.287479
...    ...   ...          ...          ...
1085  黒松内町  2019    14.525677    51.603224
1086  黒松内町  2020    15.508545    50.542908
1087  黒松内町  2021    14.244877    48.430513
1088  黒松内町  2022    16.282139    53.724086
1089  黒松内町  2023    17.673004    57.591661

[1090 rows x 4 columns]

# PTU (Photothermal Unit)
PTU is similar to PTI, but it accumulates the effect over time — just like GDD. It’s the sum of daily PTI values across the season.

🌾 Simple Explanation (for rice farming):<br>
PTU adds up how much "growth energy" rice receives day by day from temperature and sunlight.<br>
It helps estimate how much progress the crop has made in its development.<br>

High PTU over the season = fast and consistent development

Low PTU = slower growth, possibly delayed harvest

Let me know if you'd like a suggestion for how to compute PTI or PTU from your data.
___________________________

In [58]:
# --- 1) Parameters ---
vegetative_months = [5, 6]   # May and June
reproductive_months = [7, 8] # July and August
gdd_base_temp = 10           # Base temperature for rice (°C)

# --- 2) Copy original DataFrame ---
df = filtered_weather_data.copy()

# --- 3) Calculate daily GDD ---
df['GDD'] = (df['T2M'] - gdd_base_temp).clip(lower=0)

# --- 4) Calculate daily PTU (Photo-Thermal Unit = GDD × Radiation) ---
df['PTU'] = df['GDD'] * df['ALLSKY_SFC_SW_DWN']

# --- 5) Stage-specific PTU allocation ---
df['PTU_veg'] = df.apply(lambda row: row['PTU'] if row['month'] in vegetative_months else 0, axis=1)
df['PTU_rep'] = df.apply(lambda row: row['PTU'] if row['month'] in reproductive_months else 0, axis=1)

# --- 6) Aggregate PTU by municipality and year ---
ptu_features = (
    df
    .groupby(['市町村名', 'year'])
    .agg({
        'PTU_veg': 'sum',
        'PTU_rep': 'sum'
    })
    .rename(columns={
        'PTU_veg': 'PTU_sum_veg',
        'PTU_rep': 'PTU_sum_rep'
    })
    .reset_index()
)

display(ptu_features)

      市町村名  year  PTU_sum_veg  PTU_sum_rep
0     せたな町  2014    4787.6000   11794.6182
1     せたな町  2015    3354.2185   10240.2372
2     せたな町  2016    3852.0938   11390.5985
3     せたな町  2017    2965.3858   10811.1338
4     せたな町  2018    3045.5892    9691.8096
...    ...   ...          ...          ...
1085  黒松内町  2019    4974.1588   10407.3453
1086  黒松内町  2020    4037.3435   10887.9833
1087  黒松内町  2021    4884.3475   12867.7355
1088  黒松内町  2022    3794.2057   11283.8238
1089  黒松内町  2023    4880.6526   13580.7042

[1090 rows x 4 columns]

# Merge datasets
_____________________

In [59]:
from functools import reduce

# List of all DataFrames to merge
dfs_to_merge = [
    et0_features,
    pti_features,
    ptu_features,
    solar_features,
    vpd_features,
    gdd_features,
    stress_combo_features,
    ideal_combo_features,
    allsky_features,
    rh2m_features,
    t2m_features
]

# Merge all on ['市町村名', 'year']
weather_merged_features = reduce(
    lambda left, right: pd.merge(left, right, on=['市町村名', 'year'], how='left'),
    dfs_to_merge
)

# Display the final merged DataFrame
display(weather_merged_features)

,市町村名,year,ET0_sum_veg,ET0_sum_rep,PTI_sum_veg,PTI_sum_rep,PTU_sum_veg,PTU_sum_rep,SWD_sum_veg,SWD_mean_veg,...,T2M_days_ideal_vegetative,T2M_days_low_vegetative,T2M_days_extremely_low_vegetative,T2M_days_ideal_reproductive,T2M_days_low_reproductive,T2M_days_extremely_low_reproductive,T2M_5,T2M_6,T2M_7,T2M_8
0,せたな町,2014,255.083861,300.964113,13.819255,51.151541,4787.6000,11794.6182,1095.85,5.955707,...,7,27,27,19,42,1,11.120645,16.467667,21.033548,21.359355
1,せたな町,2015,249.687716,279.011086,13.614391,47.936968,3354.2185,10240.2372,1123.62,6.106630,...,0,26,35,19,30,13,10.813871,14.899000,19.291613,21.488710
2,せたな町,2016,248.617947,297.315874,15.457048,50.309466,3852.0938,11390.5985,1094.81,5.950054,...,2,26,33,30,22,10,11.958387,14.767333,18.962258,22.633871
3,せたな町,2017,237.331629,284.518067,12.325907,47.266398,2965.3858,10811.1338,1078.00,5.858696,...,0,21,40,11,47,4,11.214516,13.972000,20.774194,20.387419
4,せたな町,2018,232.430530,264.220930,14.633320,49.287479,3045.5892,9691.8096,1050.82,5.710978,...,2,18,41,11,42,9,10.526129,14.666000,19.561935,20.251290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,黒松内町,2019,290.560760,270.923464,14.525677,51.603224,4974.1588,10407.3453,1267.17,6.886793,...,0,38,23,21,32,9,12.059355,15.630333,19.637419,21.833548
1086,黒松内町,2020,250.048952,285.451074,15.508545,50.542908,4037.3435,10887.9833,1098.59,5.970598,...,2,26,33,19,41,2,10.918387,16.119667,19.408710,22.051613
1087,黒松内町,2021,270.113918,310.303820,14.244877,48.430513,4884.3475,12867.7355,1172.09,6.370054,...,5,22,34,29,30,3,10.879355,16.296000,21.647419,21.728387
1088,黒松内町,2022,261.262697,284.267999,16.282139,53.724086,3794.2057,11283.8238,1162.66,6.318804,...,5,18,38,19,42,1,11.534839,15.134667,20.725161,21.646774
1089,黒松内町,2023,270.708547,305.033854,17.673004,57.591661,4880.6526,13580.7042,1174.16,6.381304,...,9,22,30,41,21,0,11.295806,17.065333,21.586452,25.018387

In [60]:
weather_merged_features.to_csv("../datasets/weather_merged_features.csv", index=False)